<div class="col-md-4">
    <section class="login-form">
        <form role="login">
            <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="">
            <input id="user" type="text" name="text" placeholder="Usuario" class="form-control input-lg">

            <input type="password" class="form-control input-lg" id="password" placeholder="Password">

            <br><button class="btn btn-lg btn-primary btn-block" ng-click="validateLogin()">Entrar</button>
        </form>
    </section>
</div>