<div class="col-md-4" ng-app="app.login">
    <section class="login-form">
        <form method="post" action="#" role="login">
            <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="">
            <input type="email" name="email" placeholder="Usuario" required="" class="form-control input-lg">

            <input type="password" class="form-control input-lg" id="password" placeholder="" required="">{{PASSWORD | translate}}

            <br><button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Entrar</button>

        </form>
    </section>
</div>